<div ng-controller="AlertCtrl">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div class="page-header">
  <h1>Dashboard</h1>
</div>
<p>Lorem ipsum dolor sit amet, <a href="#" tooltip-placement="top" tooltip="On the Left!">consectetur adipisicing</a> elit. Error, veniam molestias culpa eaque laudantium ex fuga delectus illo explicabo voluptatem nihil aperiam debitis porro pariatur illum aut itaque animi labore blanditiis unde earum consequatur sed obcaecati facilis sit soluta quasi ipsam voluptates consequuntur rerum nobis modi ea temporibus. Voluptatibus quibusdam eaque repudiandae quae ipsa qui inventore beatae dolor sequi! Inventore, excepturi, maxime, mollitia, eius modi atque porro reprehenderit aperiam earum nemo dicta ipsa quibusdam unde in adipisci. Laborum, vero, perspiciatis, id adipisci enim repudiandae consectetur doloribus possimus laboriosam eos harum cum hic magni sed sint sequi maxime ullam ad veritatis.</p>
<button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
<script>
function AlertCtrl($scope) {
  $scope.alerts = [{
    type: 'success',
    msg: 'Well done! You successfully read this important alert message.'
  }];

  $scope.closeAlert = function(index) {
    $scope.alerts.splice(index, 1);
  };

}
</script>
